<html>
    <head>
        <link rel="stylesheet" href="index.css" >
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
		<div id="todo-list-example">
			<form v-on:submit.prevent="addNewTodo">
			<label for="new-todo">Добавить задачу</label>
			<input
				v-model="newTodoText"
				id="new-todo"
				placeholder=""
			>
			<button>Добавить</button>
			</form>
		<ul>
			<li
				is="todo-item"
				v-for="(todo, index) in todos"
				v-bind:key="todo.id"
				v-bind:title="todo.title"
			v-on:remove="todos.splice(index, 1)"
			></li>
		</ul>
		</div>
		<script src="todo.js"></script>
    </body>
</html>